.current .sec1-title {
    animation: a 1s;
}

.current .figure-1:after {
    animation: b 1s infinite alternate;
}

@keyframes a {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes b {
    0% {
            opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.current .sec1-info,
.current .sec1-vip {
    animation: c 1s forwards;
}
@keyframes c{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.current .screen-area,
.current .icon-feature{
    animation: d 1s forwards;
}
@keyframes d{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.current .icon {
    animation: e 1.5s forwards;
}
@keyframes e {
    0%{
        opacity: 0;
        transform:  translateX(-1000PX) rotate(0deg);
    }
    100%{
        opacity: 1;
        transform:  translateX(0PX) rotate(360deg);
    }
}
.current .icon-1{
    animation: a3 0.3s linear;
} 
@keyframes a3{
    0%{transform: translate(0px,0px);}
    25%{transform: translate(230px,0px) scale(1.3); z-index: 6;}
    50%{transform: translate(400px,-95px);}
    75%{transform: translate(320px,-230px) scale(0.8);}
    100%{transform: translate(140px,-290px) scale(0.6); z-index: 1;}
}
.current .icon-2{
    animation: a4 0.3s linear;
}
@keyframes a4{
    0%{transform: translate(0px,0px) scale(1.3);}
    25%{transform: translate(170px,-95px);}
    50%{transform: translate(90px,-230px) scale(0.8);}
    75%{transform: translate(-80px,-290px) scale(0.6); z-index: 1;}
    100%{transform: translate(-240px,-282px) scale(0.4); z-index: 1;}
}
.current .icon-3{
    animation: a5 0.3s linear;
}
@keyframes a5{
    0%{transform: translate(0px,0px);}
    25%{transform: translate(-80px,-135px) scale(0.8);}
    50%{transform: translate(-250px,-195px) scale(0.6); z-index: 1;}
    75%{transform: translate(-410px,-187px) scale(0.4); z-index: 1;}
    100%{transform: translate(-570px,-150px) scale(0.5);}
}
.current .icon-4{
    animation: a6 0.3s linear;
}
@keyframes a6{
    0%{transform: translate(0px,0px);}
    25%{transform: translate(-170px,-60px) scale(0.6); z-index: 1;}
    50%{transform: translate(-330px,-50px) scale(0.4); z-index: 1;}
    75%{transform: translate(-490px,-15px) scale(0.5);}
    100%{transform: translate(-590px,85px) scale(0.6);}
}
.current .icon-5{
    animation: a7 0.3s linear;
}
@keyframes a7{
    0%{transform: translate(0px,0px);z-index: 1;}
    25%{transform: translate(-160px,8px) scale(0.4); z-index: 1;}
    50%{transform: translate(-320px,45px) scale(0.5); }
    75%{transform: translate(-420px,145px) scale(0.6);}
    100%{transform: translate(-340px,240px) scale(0.7);}
}
.current .icon-6{
    animation: a8 0.3s linear;
}
@keyframes a8{
    0%{transform: translate(0px,0px);z-index: 1;}
    25%{transform: translate(-160px,37px) scale(0.5); }
    50%{transform: translate(-260px,137px) scale(0.6); }
    75%{transform: translate(-180px,232px) scale(0.7);}
    100%{transform: translate(10px,282px);z-index:6;}
}
.current .icon-9{
    animation: a9 0.3s linear;
}
@keyframes a9{
    0%{transform: translate(0px,0px) scale(0.5);}
    25%{transform: translate(-100px,100px) scale(0.6); }
    50%{transform: translate(-20px,195px) scale(0.7) }
    75%{transform: translate(170px,245px) ;z-index:6}
    100%{transform: translate(400px,245px) scale(1.3);z-index:6;}
}
.current .icon-8{
    animation: a10 0.3s linear;
}
@keyframes a10{
    0%{transform: translate(0px,0px) scale(0.6);}
    25%{transform: translate(80px,95px) scale(0.7); }
    50%{transform: translate(270px,145px);z-index:6;}
    75%{transform: translate(500px,145px) scale(1.3) ;}
    100%{transform: translate(670px,50px);}
}
.current .icon-7{
    animation: a11 0.3s linear;
}
@keyframes a11{
    0%{transform: translate(0px,0px) scale(0.7);}
    25%{transform: translate(190px,50px);z-index: 6; }
    50%{transform: translate(420px,50px) scale(1.3);}
    75%{transform: translate(590px,-45px);z-index: 6;}
    100%{transform: translate(510px,-180px) scale(0.8);}
}

.current .icon-monitor{
    animation: q 0.2s forwards 0.5s;
}
@keyframes q {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}
.current .icon-character1{
    animation:w 0.2s forwards 0.6s;
}
@keyframes w{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}
.current .icon-character2 {
    animation:r 0.2s forwards 0.7s;
}
@keyframes r{
    0%{
        opacity: 0;
       
    }
    100%{
        opacity: 1;
        
    }
}
.current .icon-character3 {
    animation:r 0.2s forwards 0.8s;
}
@keyframes r{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}
.current .icon-character4 {
    animation:t 0.2s forwards 0.9s;
}
@keyframes t{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}
.current .icon-character5 {
    animation:y 0.2s forwards 0.9s;
}
@keyframes y{
    0%{
        opacity: 0;
       
    }
    100%{
        opacity: 1;
        
    }
}
.current .sec3-icon1 {
    animation:u 0.2s forwards 0.9s;
}
@keyframes u{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}

.current .figure2-list{
    animation:c1 2s forwards;
}
@keyframes c1{
    0%{transform:scale(0); }
    100%{transform:scale(1);}
}
.current .figure2-list>span:nth-child(2n){
    animation: c2 2s infinite ;
}
@keyframes c2{
    0%{
        transform: translate(5px,5px);   
    }
    35%{
        transform: translate(0px,5px);   
    }
    70%{
        transform: translate(0px,0px);   
    }
    100%{
        transform: translate(5px,5px);   
    }
}
.current .figure2-list>span:nth-child(2n+1){
    animation: c3 2s infinite ;
}
@keyframes c3{
    0%{
        transform: translate(5px,5px);   
    }
    35%{
        transform: translate(5px,0px);   
    }
    70%{
        transform: translate(0px,0px);   
    }
    100%{
        transform: translate(5px,5px);   
    }
}
.current .icon-bird {
    animation: h 2s infinite;
}
@keyframes h {
    0%{transform: translate(0px,0px);}
    100%{transform: translate(5px,5px);}
}
.current .icon-dialog1,
.current .icon-dialog2 {
    animation: h1 0.5s;
}
@keyframes h1 {
    0%{transform: scale(1);}
    100%{transform: scale(1.5);}
}
.current .icon-qana {
    animation: h3 1.5s infinite;
}
@keyframes h3 {
    0%{transform: translateX(0px);}
    25%{transform: translateX(-10px);}
    50%{transform: translateX(0px);}
    75%{transform: translateX(-10px);}
    100%{transform: translateX(0px);}
}
.current .icon-babyq{
    animation: h4 1.5s infinite;
}
@keyframes h4 {
    0%{transform: translate(0px,0px);}
    25%{transform: translate(-10px,0px);}
    50%{transform: translate(0px,-10px);}
    75%{transform: translate(-10px,0px);}
    100%{transform: translate(0px,-10px);}
}
.current .icon-bear{
    animation: h5 0.5s infinite;
}
@keyframes h5 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(3600deg);}
}